.font-family{
  Lato, sans-serif;
}
.jobtitle{
  font-size:1.5em;
  font-weight:bold;
}

.organization{
  font-size:1.25em;
  font-weight:400;
}

.date{
  font-size:1em;
  font-weight:400;
  font-style:italic;
  margin-top:2px;
  margin-bottom:0px;
  margin-right:0;
  margin-left:0;
}

.description{
  margin-top:10px;
  margin-bottom:0px;
  margin-right:0;
  margin-left:0;
}

.header{
  width:100%;
}

.headshot{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 250px;

}

.Experience{
  font-weight: 500;
}

p{
  width: 900px;
  margin:0 auto;
  font-family: "https://fonts.googleapis.com/css2?family=Lato&display=swap";
  font-weight: bold;

}

.logo{
  width: 100px;
  absolute:left 0%;

}

.logo2{
width: 200px;
}

h3{
  font-weight: bold;
}

.p3{
  font-weight: bolder;

}

ul{
  font-family: Times;

}
