/*Main Style*/



body{
  font-family: 'Open Sans', arial, sans-serif;
}


#container{
  width:100%;
  max-width:1200px;
  margin:0 auto;
}

#name {
  font-size:3em;
  text-transform:uppercase;
  text-align:center;
  border-bottom: 1px solid #33485e;
  width:60%;
  min-width:300px;
  margin:0 auto;
}

.sectionheader {
  font-size:1.5em;
  text-transform: uppercase;
  background-color:#33485e;
  color: #fff;
  font-weight:400;
  margin-top:20px;
  margin-bottom:10px;
  margin-right:0;
  margin-left:0;
  width: 70%;
  min-width:300px;
}

.jobtitle {
  font-size:1.5em;
  font-weight:600 bold;
}

.organization {
  font-size:1.25em;
  font-weight:400;
}

.date {
  font-size:1em;
  font-weight:400;
  font-style:italic;
  margin-top:2px;
  margin-bottom:0px;
  margin-right:0;
  margin-left:0;
}

.description{
  margin-top:10px;
  margin-bottom:0px;
  margin-right:0;
  margin-left:0;
}

.menu{
  margin-top:0px;
  margin-bottom:0px;
  margin-right:0px;
  margin-left:0px;
  margin:0 auto;
}

#degrees{
  margin-top:5px;
  margin-bottom:0px;
  margin-right:0;
  margin-left:0;
}

#do{
  margin-top:5px;
  margin-bottom:0px;
  margin-right:0;
  margin-left:0;
}

#title{
  font-weight: 600;
  text-align: center;
  margin-top:20px;
  margin-bottom:0px;
  margin-right:0;
  margin-left:0;
}

.top{
  width:60%;
  min-width:300px;
  margin:0 auto;
  margin-bottom: 30px;
}
